@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@400;700&display=swap");
@import "tailwindcss";

/*:root {
  --background: #ffffff;
  --foreground: #171717;
}*/

@theme inline {
  /*--color-background: var(--background);
  --color-foreground: var(--foreground);*/
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-charcoal: #2a2b2d;
  --color-gunmetal: #e6e6e7;
  --color-goldAccent: #e5d89d;
  --font-body: "Inter";
  --font-playfair: "Playfair Display";
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  background: gunmetal;
  /*background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;*/
}
